*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* reset */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
dl,
dt,
dd,
ul,
ol,
li,
p,
blockquote,
pre,
hr,
figure,
table,
caption,
th,
td,
form,
fieldset,
legend,
input,
button,
textarea,
menu {
  margin: 0;
  padding: 0;
}
header,
footer,
section,
article,
aside,
nav,
hgroup,
address,
figure,
figcaption,
menu,
details {
  display: block;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th {
  text-align: left;
  font-weight: normal;
}
html,
body,
fieldset,
img,
iframe,
abbr {
  border: 0;
}
i,
cite,
em,
var,
address,
dfn {
  font-style: normal;
}
[hidefocus],
summary {
  outline: 0;
}
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
small {
  font-size: 100%;
}
sup,
sub {
  font-size: 83%;
}
pre,
code,
kbd,
samp {
  font-family: inherit;
}
q:before,
q:after {
  content: none;
}
textarea {
  overflow: auto;
  resize: none;
}
label,
summary {
  cursor: default;
}
a,
button {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6,
em,
strong,
b {
  font-weight: bold;
}
del,
ins,
u,
s,
a,
a:hover {
  text-decoration: none;
}
body,
textarea,
input,
button,
select,
keygen,
legend {
  font: 14px/1.4 arial;
  color: #333;
  outline: 0;
}
body {
  background: #fff;
}
a,
a:hover {
  color: #333;
}
/**btn**/
.-btn {
  display: inline-block;
  vertical-align: middle;
  min-height: 1em;
  outline: none;
  border: none;
  background-color: #3498db;
  color: #fff;
  padding: 0.75em 1.2em;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  -webkit-box-shadow: 0em -0.185rem 0em rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0em -0.185rem 0em rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0em -0.185rem 0em rgba(0, 0, 0, 0.1) inset;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(200, 200, 200, 0);
  -webkit-transition: opacity 0.25s ease, background-color 0.25s ease, color 0.25s ease, background 0.25s ease, box-shadow 0.25s ease;
  -moz-transition: opacity 0.25s ease, background-color 0.25s ease, color 0.25s ease, background 0.25s ease, box-shadow 0.25s ease;
  -o-transition: opacity 0.25s ease, background-color 0.25s ease, color 0.25s ease, background 0.25s ease, box-shadow 0.25s ease;
  -ms-transition: opacity 0.25s ease, background-color 0.25s ease, color 0.25s ease, background 0.25s ease, box-shadow 0.25s ease;
  transition: opacity 0.25s ease, background-color 0.25s ease, color 0.25s ease, background 0.25s ease, box-shadow 0.25s ease;
  cursor: pointer;
}
.-btn:hover {
  color: #fff;
  background: #5dade2;
}
.-btn:active {
  opacity: 1 !important;
  background-color: #2980b9;
  color: #FFFFFF;
  -webkit-box-shadow: 0px 1px 0.2em 0px rgba(0, 0, 0, 0.3) inset;
  -moz-box-shadow: 0px 1px 0.2em 0px rgba(0, 0, 0, 0.3) inset;
  box-shadow: 0px 1px 0.2em 0px rgba(0, 0, 0, 0.3) inset;
}
.-btn.-green {
  background: #2ecc71;
}
.-btn.-green:hover {
  background: #58d68d;
}
.-btn.-green:active {
  background: #27ae60;
}
.-btn.-red {
  background: #e74c3c;
}
.-btn.-red:hover {
  background: #ec7063;
}
.-btn.-red:active {
  background: #c0392b;
}
.-btn.-purple {
  background: #9b59b6;
}
.-btn.-purple:hover {
  background: #ba87cf;
}
.-btn.-purple:active {
  background: #8e44ad;
}
.-btn.-gray {
  background: #555555;
}
.-btn.-gray:hover {
  background: #bdc3c7;
}
.-btn.-gray:active {
  background: #7f8c8d;
}
.-btn.-small {
  padding: 0.5em 0.8em;
  font-size: 0.8rem;
}
.-btn.-large {
  padding: 0.75em 1.2em;
  font-size: 18px;
}
.-btn .-icon {
  margin-right: 0.3em !important;
  margin-left: -0.5em;
  line-height: .9em;
  font-size: .96em;
  vertical-align: -8%;
  -webkit-transition: opacity 0.1s ease
	  ;
  -moz-transition: opacity 0.1s ease
	  ;
  -o-transition: opacity 0.1s ease
	  ;
  -ms-transition: opacity 0.1s ease
	  ;
  transition: opacity 0.1s ease
	  ;
}
.-text {
  display: table-cell;
  width: 100%;
  height: 35px;
  padding: 4px 7px;
  font-size: 14px;
  vertical-align: middle;
  border: 1px solid #ccc;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
  transition: border-color 0.15s ease-in-out 0.15s, box-shadow 0.15s ease-in-out 0.15s;
}
.-text:hover,
.-text:focus {
  border-color: #3498db;
}
.-text.error {
  border-color: #933;
}
.-textarea {
  width: 100%;
  padding: 4px 7px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
  transition: border-color 0.15s ease-in-out 0.15s, box-shadow 0.15s ease-in-out 0.15s;
}
.-textarea:hover,
.-textarea:focus {
  border-color: #3498db;
}
.-textarea.error {
  border-color: #933;
}
.-text-append {
  margin-bottom: 10px;
  font-size: 0;
  white-space: nowrap;
  vertical-align: middle;
}
.-text-append .-text {
  border-radius: 4px 0 0 4px;
}
.-text-append .-btn {
  height: 100%;
  border-radius: 0px 4px 4px 0;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 500;
  line-height: 1.2;
}
.h1 {
  font-size: 36px;
  font-weight: 500;
  margin: 0.67em 0;
}
.h2 {
  font-size: 30px;
  font-wight: 500;
}
.-table {
  font-size: 14px;
  width: 100%;
  border-collapse: collapse;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid #ccc;
}
/* Table Content */
.-table th,
.-table tr,
.-table td {
  border-collapse: collapse;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
/* Headers */
.-table thead {
  border-bottom: 1px solid rgba(0, 0, 0, 0.03);
}
.-table th {
  cursor: auto;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.03);
  text-align: left;
  color: rgba(0, 0, 0, 0.8);
  padding: 0.5em 0.7em;
  vertical-align: middle;
}
.-table thead th:first-child {
  border-radius: 5px 0px 0px 0px;
}
.-table thead th:last-child {
  border-radius: 0px 5px 0px 0px;
}
.-table tfoot th:first-child {
  border-radius: 0px 0px 0px 5px;
}
.-table tfoot th:last-child {
  border-radius: 0px 0px 5px 0px;
}
/* Table Cells */
.-table td {
  padding: 0.40em 0.7em;
  vertical-align: middle;
}
/* Footer */
.-table tfoot {
  border-top: 1px solid rgba(0, 0, 0, 0.03);
}
.-table tfoot th {
  font-weight: normal;
  font-style: italic;
}
/* Table Striping */
.-table tbody tr:nth-child(2n) {
  background-color: rgba(0, 0, 50, 0.02);
}
/* Icons */
.-table > .icon {
  vertical-align: baseline;
}
.-table > .icon:only-child {
  margin: 0em;
}
/* Table Segment */
.-table.segment:after {
  display: none;
}
.-table.segment.stacked:after {
  display: block;
}
.-label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  background-color: #999999;
}
.-label.-big {
  padding: .4em .8em .5em;
  font-size: 90%;
}
.-label.-green {
  background-color: #2ecc71;
}
.-label.-red {
  background-color: #e74c3c;
}
.-label.-purple {
  background-color: #9b59b6;
}
.-label.-blue {
  background-color: #3498db;
}
/*****background-color*****/
.-bgcs {
  background-color: #c0c0c0;
}
.-bgcb {
  background-color: #000000;
}
.-bgcg {
  background-color: #808080;
}
/*****border-color*****/
.-bdcb {
  border-color: #000000;
}
/*****border*****/
.-bd0 {
  border: 0 !important;
}
.-bd1 {
  border: 1px solid #ccc;
}
/*****border-bottom-color*****/
.-bbcb {
  border-bottom-color: black;
}
/*****border-bottom-style*****/
.-bbsd {
  border-bottom-style: dotted;
}
.-bbss {
  border-bottom-style: solid;
}
/*****border-bottom-width*****/
.-bbw1 {
  border-bottom-width: 1px;
}
.-bdr0 {
  border-right: 0;
}
.-bdt0 {
  border-top: 0;
}
/***** border-radius *****/
.-br {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-box-shadow: 5px 2px 12px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 5px 2px 12px rgba(0, 0, 0, 0.2);
}
/*****clear*****/
.-cl {
  clear: both;
}
.-clf:before,
.-clf:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.-clf:after {
  clear: both;
}
/*****color*****/
.-cb {
  color: #0000ff;
}
.-cbk {
  color: #000000;
}
.-cg {
  color: #008000;
}
.-cr {
  color: #ff0000;
}
.-cgray {
  color: #808080;
}
.-cy {
  color: #ffff00;
}
.-cw {
  color: #ffffff;
}
.-c900 {
  color: #990000;
}
/***** cursor *****/
.-cp {
  cursor: pointer;
}
/*****display*****/
.-dpb {
  display: block;
}
.-dpi {
  display: inline;
}
.-dpib {
  display: inline-block;
}
.-dpn {
  display: none;
}
/***** font-family *****/
.-ffyh {
  font-family: '微软雅黑';
}
/*float*/
.-fll {
  float: left;
}
.-flr {
  float: right;
}
/*****font-size*****/
.-fs12 {
  font-size: 12px;
}
.-fs13 {
  font-size: 13px;
}
.-fs14 {
  font-size: 14px;
}
.-fs15 {
  font-size: 15px;
}
.-fs16 {
  font-size: 16px;
}
.-fs17 {
  font-size: 17px;
}
.-fs18 {
  font-size: 18px;
}
.-fs19 {
  font-size: 19px;
}
.-fs20 {
  font-size: 20px;
}
.-fs24 {
  font-size: 24px;
}
.-fs30 {
  font-size: 30px;
}
/*****font-weight*****/
.-fwb {
  font-weight: bold;
}
/***** height *****/
.-htfull {
  height: 100%;
}
.-ht5 {
  height: 5px;
}
.-ht10 {
  height: 10px;
}
.-ht20 {
  height: 20px;
}
.-ht30 {
  height: 30px;
}
/***** hook [position helper] *****/
.-hook {
  width: 0;
  height: 0;
}
/***** div hr *****/
.-hr {
  width: 907px;
  border-bottom: 1px solid #CCC;
  margin: 15px auto auto auto;
  margin-top: 0px 9;
}
/***** line-height *****/
.-lh10 {
  line-height: 10px;
}
.-lh20 {
  line-height: 20px;
}
.-lh25 {
  line-height: 25px;
}
.-lh30 {
  line-height: 30px;
}
/*****margin*****/
.-m0 {
  margin: 0;
}
.-m0a {
  margin: 0 auto;
}
.-mb10 {
  margin-bottom: 10px;
}
.-ml10 {
  margin-left: 10px;
}
/*****margin-right*****/
.-mr5 {
  margin-right: 5px;
}
.-mr10 {
  margin-right: 10px;
}
.-mr20 {
  margin-right: 20px;
}
/*****margin-top*****/
.-mt0 {
  margin-top: 0;
}
.-mt5 {
  margin-top: 5px;
}
.-mt10 {
  margin-top: 10px;
}
.-mt40 {
  margin-top: 40px;
}
.-mt80 {
  margin-top: 80px;
}
/***** min-height *****/
.-mh300 {
  min-height: 300px;
}
.-mh400 {
  min-height: 400px;
}
.-mh500 {
  min-height: 500px;
}
/***** overflow *****/
.-oh {
  overflow: hidden;
}
/***** padding *****/
.-pd3 {
  padding: 3px;
}
.-pd5 {
  padding: 5px;
}
.-pd10 {
  padding: 10px;
}
.-pdl10 {
  padding-left: 10px;
}
.-pdlr10 {
  padding-left: 10px;
  padding-right: 10px;
}
.-pdr5 {
  padding-right: 5px;
}
.-pdr10 {
  padding-right: 10px;
}
.-pdr20 {
  padding-right: 20px;
}
.-pdt10 {
  padding-top: 10px;
}
/***** position *****/
.-pa {
  position: absolute;
}
.-pf {
  position: fixed;
}
.-pr {
  position: relative;
}
/*****text-align*****/
.-tac {
  text-align: center;
}
.-tal {
  text-align: left;
}
.-tar {
  text-align: right;
}
/***** text-decoration *****/
.-tdu {
  text-decoration: underline;
}
/***** user-select *****/
.-usn {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
/***** vertical-align *****/
.-vam {
  vertical-align: middle;
}
/***** width *****/
.-wd10 {
  width: 1000px;
}
.-wd9 {
  width: 900px;
}
.-wd8 {
  width: 800px;
}
.-wd7 {
  width: 700px;
}
.-wd6 {
  width: 600px;
}
.-wd5 {
  width: 500px;
}
.-wd4 {
  width: 400px;
}
.-wd3 {
  width: 300px;
}
.-wd2 {
  width: 200px;
}
.-wd1 {
  width: 100px;
}
.-wdp10 {
  width: 100%;
}
.-wdp9 {
  width: 90%;
}
.-wdp8 {
  width: 80%;
}
.-wdp7 {
  width: 70%;
}
.-wdp6 {
  width: 60%;
}
.-wdp5 {
  width: 50%;
}
.-wdp4 {
  width: 40%;
}
.-wdp3 {
  width: 30%;
}
.-wdp2 {
  width: 20%;
}
.-wdp1 {
  width: 10%;
}
.-message {
  position: relative;
  min-height: 18px;
  margin: 1em 0em;
  height: auto;
  background-color: #EFEFEF;
  padding: 1em;
  line-height: 1.33;
  color: rgba(0, 0, 0, 0.6);
  -webkit-transition: opacity 0.1s ease, color 0.1s ease, background 0.1s ease, box-shadow 0.1s ease;
  -moz-transition: opacity 0.1s ease, color 0.1s ease, background 0.1s ease, box-shadow 0.1s ease;
  -o-transition: opacity 0.1s ease, color 0.1s ease, background 0.1s ease, box-shadow 0.1s ease;
  -ms-transition: opacity 0.1s ease, color 0.1s ease, background 0.1s ease, box-shadow 0.1s ease;
  transition: opacity 0.1s ease, color 0.1s ease, background 0.1s ease, box-shadow 0.1s ease;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 0.325em 0.325em 0.325em 0.325em;
  -moz-border-radius: 0.325em 0.325em 0.325em 0.325em;
  border-radius: 0.325em 0.325em 0.325em 0.325em;
}
.-message.-green {
  background-color: #2ecc71;
  color: white;
}
.-message.-red {
  background-color: #e74c3c;
  color: white;
}
.-message.-large {
  font-size: 1.2em;
}
.-grid:before,
.-grid:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.-grid:after {
  clear: both;
}
.-grid .-col12 {
  width: 100%;
  float: left;
}
.-grid .-col11 {
  width: 91.66666666666666%;
  float: left;
}
.-grid .-col10 {
  width: 83.33333333333334%;
  float: left;
}
.-grid .-col9 {
  width: 75%;
  float: left;
}
.-grid .-col8 {
  width: 66.66666666666666%;
  float: left;
}
.-grid .-col7 {
  width: 58.333333333333336%;
  float: left;
}
.-grid .-col6 {
  width: 50%;
  float: left;
}
.-grid .-col5 {
  width: 41.66666666666667%;
  float: left;
}
.-grid .-col4 {
  width: 33.33333333333333%;
  float: left;
}
.-grid .-col3 {
  width: 25%;
  float: left;
}
.-grid .-col2 {
  width: 16.666666666666664%;
  float: left;
}
.-grid .-col1 {
  width: 8.333333333333332%;
  float: left;
}
.-grid.-loose {
  margin-left: -10px;
  margin-right: -10px;
}
.-grid.-loose:before,
.-grid.-loose:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.-grid.-loose:after {
  clear: both;
}
.-grid.-loose .-col12 {
  width: 100%;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}
.-grid.-loose .-col11 {
  width: 91.66666666666666%;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}
.-grid.-loose .-col10 {
  width: 83.33333333333334%;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}
.-grid.-loose .-col9 {
  width: 75%;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}
.-grid.-loose .-col8 {
  width: 66.66666666666666%;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}
.-grid.-loose .-col7 {
  width: 58.333333333333336%;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}
.-grid.-loose .-col6 {
  width: 50%;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}
.-grid.-loose .-col5 {
  width: 41.66666666666667%;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}
.-grid.-loose .-col4 {
  width: 33.33333333333333%;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}
.-grid.-loose .-col3 {
  width: 25%;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}
.-grid.-loose .-col2 {
  width: 16.666666666666664%;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}
.-grid.-loose .-col1 {
  width: 8.333333333333332%;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}
.-panel {
  position: relative;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
  margin: 1em 0em;
  padding: 1em;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #ccc;
}
.-image {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0.05);
}
img.-image {
  display: block;
  background: none;
}
.-image img {
  display: block;
  max-width: 100%;
  height: auto;
}
/*******************************
            States
*******************************/
.-disabled.-image {
  cursor: default;
  opacity: 0.3;
}
/*******************************
          Variations
*******************************/
/*--------------
     Rounded
---------------*/
.-rounded.-images .-image,
.-rounded.-images img,
.-rounded.-image img,
.-rounded.-image {
  -webkit-border-radius: 0.3125em;
  -moz-border-radius: 0.3125em;
  border-radius: 0.3125em;
}
/*--------------
     Circular
---------------*/
.-circular.-images .-image,
.-circular.-images img,
.-circular.-image img,
.-circular.-image {
  -webkit-border-radius: 500rem;
  -moz-border-radius: 500rem;
  border-radius: 500rem;
}
/*--------------
     Fluid
---------------*/
.-fluid.-images,
.-fluid.-image,
.-fluid.-images img,
.-fluid.-image img {
  display: block;
  width: 100%;
}
/*--------------
     Avatar
---------------*/
.-avatar.-images .-image,
.-avatar.-images img,
.-avatar.-image img,
.-avatar.-image {
  margin-right: 0.5em;
  display: inline-block;
  width: 2em;
  height: 2em;
  -webkit-border-radius: 500rem;
  -moz-border-radius: 500rem;
  border-radius: 500rem;
}
/*-------------------
       Floated
--------------------*/
.-floated.-image,
.-floated.-images {
  float: left;
  margin-right: 1em;
  margin-bottom: 1em;
}
.-right.floated.-images,
.-right.floated.-image {
  float: right;
  margin-bottom: 1em;
  margin-left: 1em;
}
/*--------------
     Sizes
---------------*/
.-tiny.-images .-image,
.-tiny.-images img,
.-tiny.-image {
  width: 20px;
  font-size: 0.7rem;
}
.-mini.-images .-image,
.-mini.-images img,
.-mini.-image {
  width: 35px;
  font-size: 0.8rem;
}
.-small.-images .-image,
.-small.-images img,
.-small.-image {
  width: 80px;
  font-size: 0.9rem;
}
.-medium.-images .-image,
.-medium.-images img,
.-medium.-image {
  width: 300px;
  font-size: 1rem;
}
.-large.-images .-image,
.-large.-images img,
.-large.-image {
  width: 450px;
  font-size: 1.1rem;
}
.-huge.-images .-image,
.-huge.-images img,
.-huge.-image {
  width: 600px;
  font-size: 1.2rem;
}
/*******************************
              Groups
*******************************/
.-images {
  font-size: 0em;
  margin: 0em -0.25rem 0rem;
}
.-images .-image,
.-images img {
  display: inline-block;
  margin: 0em 0.25em 0.5em;
}
.-pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.-pagination > li {
  display: inline;
}
.-pagination > li > a,
.-pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.428571429;
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  margin-left: -1px;
}
.-pagination > li:first-child > a,
.-pagination > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.-pagination > li:last-child > a,
.-pagination > li:last-child > span {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.-pagination > li > a:hover,
.-pagination > li > span:hover,
.-pagination > li > a:focus,
.-pagination > li > span:focus {
  background-color: #eeeeee;
}
.-pagination > .-active > a,
.-pagination > .-active > span,
.-pagination > .-active > a:hover,
.-pagination > .-active > span:hover,
.-pagination > .-active > a:focus,
.-pagination > .-active > span:focus {
  z-index: 2;
  color: #ffffff;
  background-color: #428bca;
  border-color: #428bca;
  cursor: default;
}
.-pagination > .disabled > span,
.-pagination > .disabled > span:hover,
.-pagination > .disabled > span:focus,
.-pagination > .disabled > a,
.-pagination > .disabled > a:hover,
.-pagination > .disabled > a:focus {
  color: #999999;
  background-color: #ffffff;
  border-color: #dddddd;
  cursor: not-allowed;
}
.-pagination-lg > li > a,
.-pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
}
.-pagination-lg > li:first-child > a,
.-pagination-lg > li:first-child > span {
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}
.-pagination-lg > li:last-child > a,
.-pagination-lg > li:last-child > span {
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}
.-pagination-sm > li > a,
.-pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
}
.-pagination-sm > li:first-child > a,
.-pagination-sm > li:first-child > span {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
.-pagination-sm > li:last-child > a,
.-pagination-sm > li:last-child > span {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
.-checkbox {
  display: inline;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
  vertical-align: middle;
  display: block;
  margin-bottom: 20px;
  min-height: 20px;
}
.-form .-field {
  margin-bottom: 15px;
}
.-form label {
  font-weight: bold;
  display: inline-block;
  margin-bottom: 5px;
}
.-select {
  border: 1px solid #ccc;
  height: 34px;
  padding: 6px 12px;
  border-radius: 4px;
  background: #fff;
  cursor: pointer;
}
.-radio {
  display: block;
  min-height: 20px;
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  vertical-align: middle;
}
.-radio input[type="radio"] {
  float: left;
  margin: 4px 0 0 -20px;
}
.-radio label {
  cursor: pointer;
  display: inline;
}
@font-face {
  font-family: 'Icons';
  src: url(fonts/fontawesome-webfont.eot);
  src: url(fonts/fontawesome-webfont.eot?#iefix) format('embedded-opentype'), url(fonts/fontawesome-webfont.woff) format('woff'), url(fonts/fontawesome-webfont.ttf) format('truetype'), url(fonts/fontawesome-webfont.svg#icons) format('svg');
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-decoration: inherit;
  text-transform: none;
}
i.-icon {
  display: inline-block;
  opacity: 0.75;
  margin: 0em 0.25em 0em 0em;
  width: 1.23em;
  height: 1em;
  font-family: 'Icons';
  font-style: normal;
  line-height: 1;
  font-weight: normal;
  text-decoration: inherit;
  text-align: center;
  speak: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
i.-icon.-left:before {
  content: "\f060";
}
i.-icon.-right:before {
  content: "\f061";
}
i.-icon.-add.-sign.-box:before {
  content: "\f0fe";
}
i.-icon.-add.-sign:before {
  content: "\f055";
}
i.-icon.-add:before {
  content: "\f067";
}
i.-icon.-adjust:before {
  content: "\f042";
}
i.-icon.-adn:before {
  content: "\f170";
}
i.-icon.-align.-center:before {
  content: "\f037";
}
i.-icon.-align.-justify:before {
  content: "\f039";
}
i.-icon.-align.-left:before {
  content: "\f036";
}
i.-icon.-align.-right:before {
  content: "\f038";
}
i.-icon.-ambulance:before {
  content: "\f0f9";
}
i.-icon.-anchor:before {
  content: "\f13d";
}
i.-icon.-android:before {
  content: "\f17b";
}
i.-icon.-angle.-down:before {
  content: "\f107";
}
i.-icon.-angle.-left:before {
  content: "\f104";
}
i.-icon.-angle.-right:before {
  content: "\f105";
}
i.-icon.-angle.-up:before {
  content: "\f106";
}
i.-icon.-apple:before {
  content: "\f179";
}
i.-icon.-archive:before {
  content: "\f187";
}
i.-icon.-arrow.-down:before {
  content: "\f078";
}
i.-icon.-arrow.-left:before {
  content: "\f053";
}
i.-icon.-arrow.-right:before {
  content: "\f054";
}
i.-icon.-arrow.-sign.-down:before {
  content: "\f13a";
}
i.-icon.-arrow.-sign.-left:before {
  content: "\f137";
}
i.-icon.-arrow.-sign.-right:before {
  content: "\f138";
}
i.-icon.-arrow.-sign.-up:before {
  content: "\f139";
}
i.-icon.-arrow.-up:before {
  content: "\f077";
}
i.-icon.-asterisk:before {
  content: "\f069";
}
i.-icon.-attachment:before {
  content: "\f0c6";
}
i.-icon.-attention:before {
  content: "\f06a";
}
i.-icon.-backward:before {
  content: "\f04a";
}
i.-icon.-ban.-circle:before {
  content: "\f05e";
}
i.-icon.-bar.-chart:before {
  content: "\f080";
}
i.-icon.-barcode:before {
  content: "\f02a";
}
i.-icon.-beer:before {
  content: "\f0fc";
}
i.-icon.-bell.-outline:before {
  content: "\f0a2";
}
i.-icon.-bell:before {
  content: "\f0f3";
}
i.-icon.-bitbucket.-sign:before {
  content: "\f172";
}
i.-icon.-bitbucket:before {
  content: "\f171";
}
i.-icon.-bitcoin:before {
  content: "\f15a";
}
i.-icon.-bold:before {
  content: "\f032";
}
i.-icon.-bolt:before {
  content: "\f0e7";
}
i.-icon.-book:before {
  content: "\f02d";
}
i.-icon.-bookmark.-empty:before {
  content: "\f097";
}
i.-icon.-bookmark:before {
  content: "\f02e";
}
i.-icon.-box.-arrow.-down:before {
  content: "\f150";
}
i.-icon.-box.-arrow.-right:before {
  content: "\f152";
}
i.-icon.-box.-arrow.-up:before {
  content: "\f151";
}
i.-icon.-briefcase:before {
  content: "\f0b1";
}
i.-icon.-browser:before {
  content: "\f022";
}
i.-icon.-bug:before {
  content: "\f188";
}
i.-icon.-building:before {
  content: "\f0f7";
}
i.-icon.-bullhorn:before {
  content: "\f0a1";
}
i.-icon.-bullseye:before {
  content: "\f140";
}
i.-icon.-calendar.-empty:before {
  content: "\f133";
}
i.-icon.-calendar:before {
  content: "\f073";
}
i.-icon.-camera.-retro:before {
  content: "\f083";
}
i.-icon.-camera:before {
  content: "\f030";
}
i.-icon.-triangle.-down:before {
  content: "\f0d7";
}
i.-icon.-triangle.-left:before {
  content: "\f0d9";
}
i.-icon.-triangle.-right:before {
  content: "\f0da";
}
i.-icon.-triangle.-up:before {
  content: "\f0d8";
}
i.-icon.-cart:before {
  content: "\f07a";
}
i.-icon.-certificate:before {
  content: "\f0a3";
}
i.-icon.-chat.-outline:before {
  content: "\f0e6";
}
i.-icon.-chat:before {
  content: "\f086";
}
i.-icon.-checkbox.-empty:before {
  content: "\f096";
}
i.-icon.-checkbox.-minus:before {
  content: "\f147";
}
i.-icon.-checked.-checkbox:before {
  content: "\f046";
}
i.-icon.-checkmark.-sign:before {
  content: "\f14a";
}
i.-icon.-checkmark:before {
  content: "\f00c";
}
i.-icon.-circle.-blank:before {
  content: "\f10c";
}
i.-icon.-circle.-down:before {
  content: "\f0ab";
}
i.-icon.-circle.-left:before {
  content: "\f0a8";
}
i.-icon.-circle.-right:before {
  content: "\f0a9";
}
i.-icon.-circle.-up:before {
  content: "\f0aa";
}
i.-icon.-circle:before {
  content: "\f111";
}
i.-icon.-cloud.-download:before {
  content: "\f0ed";
}
i.-icon.-cloud.-upload:before {
  content: "\f0ee";
}
i.-icon.-cloud:before {
  content: "\f0c2";
}
i.-icon.-code.-fork:before {
  content: "\f126";
}
i.-icon.-code:before {
  content: "\f121";
}
i.-icon.-coffee:before {
  content: "\f0f4";
}
i.-icon.-collapse:before {
  content: "\f117";
}
i.-icon.-comment.-outline:before {
  content: "\f0e5";
}
i.-icon.-comment:before {
  content: "\f075";
}
i.-icon.-copy:before {
  content: "\f0c5";
}
i.-icon.-crop:before {
  content: "\f125";
}
i.-icon.-css3:before {
  content: "\f13c";
}
i.-icon.-cut:before {
  content: "\f0c4";
}
i.-icon.-dashboard:before {
  content: "\f0e4";
}
i.-icon.-desktop:before {
  content: "\f108";
}
i.-icon.-doctor:before {
  content: "\f0f0";
}
i.-icon.-dollar:before {
  content: "\f155";
}
i.-icon.-double.-angle.-down:before {
  content: "\f103";
}
i.-icon.-double.-angle.-left:before {
  content: "\f100";
}
i.-icon.-double.-angle.-right:before {
  content: "\f101";
}
i.-icon.-double.-angle.-up:before {
  content: "\f102";
}
i.-icon.-down:before {
  content: "\f063";
}
i.-icon.-download.-disk:before {
  content: "\f019";
}
i.-icon.-download:before {
  content: "\f01a";
}
i.-icon.-dribbble:before {
  content: "\f17d";
}
i.-icon.-dropbox:before {
  content: "\f16b";
}
i.-icon.-edit.-sign:before {
  content: "\f14b";
}
i.-icon.-edit:before {
  content: "\f044";
}
i.-icon.-eject:before {
  content: "\f052";
}
i.-icon.-ellipsis.-horizontal:before {
  content: "\f141";
}
i.-icon.-ellipsis.-vertical:before {
  content: "\f142";
}
i.-icon.-eraser:before {
  content: "\f12d";
}
i.-icon.-euro:before {
  content: "\f153";
}
i.-icon.-exchange:before {
  content: "\f0ec";
}
i.-icon.-exclamation:before {
  content: "\f12a";
}
i.-icon.-expand:before {
  content: "\f116";
}
i.-icon.-external.-url.-sign:before {
  content: "\f14c";
}
i.-icon.-external.-url:before {
  content: "\f08e";
}
i.-icon.-facebook.-sign:before {
  content: "\f082";
}
i.-icon.-facebook:before {
  content: "\f09a";
}
i.-icon.-facetime.-video:before {
  content: "\f03d";
}
i.-icon.-fast.-backward:before {
  content: "\f049";
}
i.-icon.-fast.-forward:before {
  content: "\f050";
}
i.-icon.-female:before {
  content: "\f182";
}
i.-icon.-fighter.-jet:before {
  content: "\f0fb";
}
i.-icon.-file.-outline:before {
  content: "\f016";
}
i.-icon.-file.-text.-outline:before {
  content: "\f0f6";
}
i.-icon.-file.-text:before {
  content: "\f15c";
}
i.-icon.-file:before {
  content: "\f15b";
}
i.-icon.-filter:before {
  content: "\f0b0";
}
i.-icon.-fire.-extinguisher:before {
  content: "\f134";
}
i.-icon.-fire:before {
  content: "\f06d";
}
i.-icon.-flag.-checkered:before {
  content: "\f11e";
}
i.-icon.-flag.-empty:before {
  content: "\f11d";
}
i.-icon.-flag:before {
  content: "\f024";
}
i.-icon.-flickr:before {
  content: "\f16e";
}
i.-icon.-folder.-open.-outline:before {
  content: "\f115";
}
i.-icon.-folder.-open:before {
  content: "\f07c";
}
i.-icon.-folder.-outline:before {
  content: "\f114";
}
i.-icon.-folder:before {
  content: "\f07b";
}
i.-icon.-font:before {
  content: "\f031";
}
i.-icon.-food:before {
  content: "\f0f5";
}
i.-icon.-forward.-mail:before {
  content: "\f064";
}
i.-icon.-forward:before {
  content: "\f04e";
}
i.-icon.-foursquare:before {
  content: "\f180";
}
i.-icon.-frown:before {
  content: "\f119";
}
i.-icon.-fullscreen:before {
  content: "\f0b2";
}
i.-icon.-gamepad:before {
  content: "\f11b";
}
i.-icon.-gift:before {
  content: "\f06b";
}
i.-icon.-github.-alternate:before {
  content: "\f09b";
}
i.-icon.-github.-sign:before {
  content: "\f092";
}
i.-icon.-github:before {
  content: "\f113";
}
i.-icon.-gittip:before {
  content: "\f184";
}
i.-icon.-glass:before {
  content: "\f000";
}
i.-icon.-globe:before {
  content: "\f0ac";
}
i.-icon.-google.-plus.-sign:before {
  content: "\f0d4";
}
i.-icon.-google.-plus:before {
  content: "\f0d5";
}
i.-icon.-h.-sign:before {
  content: "\f0fd";
}
i.-icon.-hand.-down:before {
  content: "\f0a7";
}
i.-icon.-hand.-left:before {
  content: "\f0a5";
}
i.-icon.-hand.-right:before {
  content: "\f0a4";
}
i.-icon.-hand.-up:before {
  content: "\f0a6";
}
i.-icon.-hdd:before {
  content: "\f0a0";
}
i.-icon.-headphones:before {
  content: "\f025";
}
i.-icon.-heart.-empty:before {
  content: "\f08a";
}
i.-icon.-heart:before {
  content: "\f004";
}
i.-icon.-help:before {
  content: "\f059";
}
i.-icon.-hide:before {
  content: "\f070";
}
i.-icon.-home:before {
  content: "\f015";
}
i.-icon.-hospital:before {
  content: "\f0f8";
}
i.-icon.-html5:before {
  content: "\f13b";
}
i.-icon.-inbox:before {
  content: "\f01c";
}
i.-icon.-indent.-left:before {
  content: "\f03b";
}
i.-icon.-indent.-right:before {
  content: "\f03c";
}
i.-icon.-info.-letter:before {
  content: "\f129";
}
i.-icon.-info:before {
  content: "\f05a";
}
i.-icon.-instagram:before {
  content: "\f16d";
}
i.-icon.-italic:before {
  content: "\f033";
}
i.-icon.-key:before {
  content: "\f084";
}
i.-icon.-keyboard:before {
  content: "\f11c";
}
i.-icon.-lab:before {
  content: "\f0c3";
}
i.-icon.-laptop:before {
  content: "\f109";
}
i.-icon.-layout.-block:before {
  content: "\f009";
}
i.-icon.-layout.-column:before {
  content: "\f0db";
}
i.-icon.-layout.-grid:before {
  content: "\f00a";
}
i.-icon.-layout.-list:before {
  content: "\f00b";
}
i.-icon.-leaf:before {
  content: "\f06c";
}
i.-icon.-legal:before {
  content: "\f0e3";
}
i.-icon.-lemon:before {
  content: "\f094";
}
i.-icon.-level.-down:before {
  content: "\f149";
}
i.-icon.-level.-up:before {
  content: "\f148";
}
i.-icon.-lightbulb:before {
  content: "\f0eb";
}
i.-icon.-linkedin.-sign:before {
  content: "\f08c";
}
i.-icon.-linkedin:before {
  content: "\f0e1";
}
i.-icon.-linux:before {
  content: "\f17c";
}
i.-icon.-list.-ordered:before {
  content: "\f0cb";
}
i.-icon.-list.-unordered:before {
  content: "\f0ca";
}
i.-icon.-list:before {
  content: "\f03a";
}
i.-icon.-loading:before {
  content: "\f110";
}
i.-icon.-location:before {
  content: "\f124";
}
i.-icon.-lock:before {
  content: "\f023";
}
i.-icon.-long.-arrow.-down:before {
  content: "\f175";
}
i.-icon.-long.-arrow.-left:before {
  content: "\f177";
}
i.-icon.-long.-arrow.-right:before {
  content: "\f178";
}
i.-icon.-long.-arrow.-up:before {
  content: "\f176";
}
i.-icon.-magic:before {
  content: "\f0d0";
}
i.-icon.-magnet:before {
  content: "\f076";
}
i.-icon.-mail.-outline:before {
  content: "\f003";
}
i.-icon.-mail.-reply:before {
  content: "\f112";
}
i.-icon.-mail:before {
  content: "\f0e0";
}
i.-icon.-male:before {
  content: "\f183";
}
i.-icon.-map.-marker:before {
  content: "\f041";
}
i.-icon.-map:before {
  content: "\f14e";
}
i.-icon.-maxcdn:before {
  content: "\f136";
}
i.-icon.-medkit:before {
  content: "\f0fa";
}
i.-icon.-meh:before {
  content: "\f11a";
}
i.-icon.-minus.-sign.-alternate:before {
  content: "\f146";
}
i.-icon.-minus.-sign:before {
  content: "\f056";
}
i.-icon.-minus:before {
  content: "\f068";
}
i.-icon.-mobile:before {
  content: "\f10b";
}
i.-icon.-money:before {
  content: "\f0d6";
}
i.-icon.-moon:before {
  content: "\f186";
}
i.-icon.-move:before {
  content: "\f047";
}
i.-icon.-music:before {
  content: "\f001";
}
i.-icon.-mute:before {
  content: "\f131";
}
i.-icon.-off:before {
  content: "\f011";
}
i.-icon.-ok.-circle:before {
  content: "\f05d";
}
i.-icon.-ok.-sign:before {
  content: "\f058";
}
i.-icon.-paste:before {
  content: "\f0ea";
}
i.-icon.-pause:before {
  content: "\f04c";
}
i.-icon.-payment:before {
  content: "\f09d";
}
i.-icon.-pencil:before {
  content: "\f040";
}
i.-icon.-phone.-sign:before {
  content: "\f098";
}
i.-icon.-phone:before {
  content: "\f095";
}
i.-icon.-photo:before {
  content: "\f03e";
}
i.-icon.-pin:before {
  content: "\f08d";
}
i.-icon.-pinterest.-sign:before {
  content: "\f0d3";
}
i.-icon.-pinterest:before {
  content: "\f0d2";
}
i.-icon.-plane:before {
  content: "\f072";
}
i.-icon.-play.-circle:before {
  content: "\f01d";
}
i.-icon.-play.-sign:before {
  content: "\f144";
}
i.-icon.-play:before {
  content: "\f04b";
}
i.-icon.-pound:before {
  content: "\f154";
}
i.-icon.-print:before {
  content: "\f02f";
}
i.-icon.-puzzle.-piece:before {
  content: "\f12e";
}
i.-icon.-qr.-code:before {
  content: "\f029";
}
i.-icon.-question:before {
  content: "\f128";
}
i.-icon.-quote.-left:before {
  content: "\f10d";
}
i.-icon.-quote.-right:before {
  content: "\f10e";
}
i.-icon.-refresh:before {
  content: "\f021";
}
i.-icon.-remove.-circle:before {
  content: "\f05c";
}
i.-icon.-remove.-sign:before {
  content: "\f057";
}
i.-icon.-remove:before {
  content: "\f00d";
}
i.-icon.-renren:before {
  content: "\f18b";
}
i.-icon.-reorder:before {
  content: "\f0c9";
}
i.-icon.-repeat:before {
  content: "\f01e";
}
i.-icon.-reply.-all.-mail:before {
  content: "\f122";
}
i.-icon.-resize.-full:before {
  content: "\f065";
}
i.-icon.-resize.-horizontal:before {
  content: "\f07e";
}
i.-icon.-resize.-small:before {
  content: "\f066";
}
i.-icon.-resize.-vertical:before {
  content: "\f07d";
}
i.-icon.-retweet:before {
  content: "\f079";
}
i.-icon.-road:before {
  content: "\f018";
}
i.-icon.-rocket:before {
  content: "\f135";
}
i.-icon.-rss.-sign:before {
  content: "\f143";
}
i.-icon.-rss:before {
  content: "\f09e";
}
i.-icon.-rupee:before {
  content: "\f156";
}
i.-icon.-save:before {
  content: "\f0c7";
}
i.-icon.-screenshot:before {
  content: "\f05b";
}
i.-icon.-search:before {
  content: "\f002";
}
i.-icon.-setting:before {
  content: "\f013";
}
i.-icon.-settings:before {
  content: "\f085";
}
i.-icon.-share.-sign:before {
  content: "\f14d";
}
i.-icon.-share:before {
  content: "\f045";
}
i.-icon.-shield:before {
  content: "\f132";
}
i.-icon.-shuffle:before {
  content: "\f074";
}
i.-icon.-sign.-in:before {
  content: "\f090";
}
i.-icon.-sign.-out:before {
  content: "\f08b";
}
i.-icon.-sign:before {
  content: "\f0c8";
}
i.-icon.-signal:before {
  content: "\f012";
}
i.-icon.-sitemap:before {
  content: "\f0e8";
}
i.-icon.-skype:before {
  content: "\f17e";
}
i.-icon.-smile:before {
  content: "\f118";
}
i.-icon.-sort.-alphabet.-descending:before {
  content: "\f15e";
}
i.-icon.-sort.-alphabet:before {
  content: "\f15d";
}
i.-icon.-sort.-ascending:before {
  content: "\f0de";
}
i.-icon.-sort.-attributes.-descending:before {
  content: "\f161";
}
i.-icon.-sort.-attributes:before {
  content: "\f160";
}
i.-icon.-sort.-descending:before {
  content: "\f0dd";
}
i.-icon.-sort.-order.-descending:before {
  content: "\f163";
}
i.-icon.-sort.-order:before {
  content: "\f162";
}
i.-icon.-sort:before {
  content: "\f0dc";
}
i.-icon.-stackexchange:before {
  content: "\f16c";
}
i.-icon.-star.-empty:before {
  content: "\f006";
}
i.-icon.-star.-half.-empty:before {
  content: "\f123";
}
i.-icon.-star.-half.-full:before,
i.-icon.-star.-half:before {
  content: "\f089";
}
i.-icon.-star:before {
  content: "\f005";
}
i.-icon.-step.-backward:before {
  content: "\f048";
}
i.-icon.-step.-forward:before {
  content: "\f051";
}
i.-icon.-stethoscope:before {
  content: "\f0f1";
}
i.-icon.-stop:before {
  content: "\f04d";
}
i.-icon.-strikethrough:before {
  content: "\f0cc";
}
i.-icon.-subscript:before {
  content: "\f12c";
}
i.-icon.-suitcase:before {
  content: "\f0f2";
}
i.-icon.-sun:before {
  content: "\f185";
}
i.-icon.-superscript:before {
  content: "\f12b";
}
i.-icon.-table:before {
  content: "\f0ce";
}
i.-icon.-tablet:before {
  content: "\f10a";
}
i.-icon.-tag:before {
  content: "\f02b";
}
i.-icon.-tags:before {
  content: "\f02c";
}
i.-icon.-tasks:before {
  content: "\f0ae";
}
i.-icon.-terminal:before {
  content: "\f120";
}
i.-icon.-text.-height:before {
  content: "\f034";
}
i.-icon.-text.-width:before {
  content: "\f035";
}
i.-icon.-thumbs.-down.-outline:before {
  content: "\f088";
}
i.-icon.-thumbs.-down:before {
  content: "\f165";
}
i.-icon.-thumbs.-up.-outline:before {
  content: "\f087";
}
i.-icon.-thumbs.-up:before {
  content: "\f164";
}
i.-icon.-ticket:before {
  content: "\f145";
}
i.-icon.-time:before {
  content: "\f017";
}
i.-icon.-tint:before {
  content: "\f043";
}
i.-icon.-trash:before {
  content: "\f014";
}
i.-icon.-trello:before {
  content: "\f181";
}
i.-icon.-trophy:before {
  content: "\f091";
}
i.-icon.-truck:before {
  content: "\f0d1";
}
i.-icon.-tumblr.-sign:before {
  content: "\f174";
}
i.-icon.-tumblr:before {
  content: "\f173";
}
i.-icon.-twitter.-sign:before {
  content: "\f081";
}
i.-icon.-twitter:before {
  content: "\f099";
}
i.-icon.-umbrella:before {
  content: "\f0e9";
}
i.-icon.-underline:before {
  content: "\f0cd";
}
i.-icon.-undo:before {
  content: "\f0e2";
}
i.-icon.-unhide:before {
  content: "\f06e";
}
i.-icon.-unlink:before {
  content: "\f127";
}
i.-icon.-unlock.-alternate:before {
  content: "\f13e";
}
i.-icon.-unlock:before {
  content: "\f09c";
}
i.-icon.-unmute:before {
  content: "\f130";
}
i.-icon.-up:before {
  content: "\f062";
}
i.-icon.-upload.-disk:before {
  content: "\f093";
}
i.-icon.-upload:before {
  content: "\f01b";
}
i.-icon.-url:before {
  content: "\f0c1";
}
i.-icon.-user:before {
  content: "\f007";
}
i.-icon.-users:before {
  content: "\f0c0";
}
i.-icon.-video:before {
  content: "\f008";
}
i.-icon.-vk:before {
  content: "\f189";
}
i.-icon.-volume.-down:before {
  content: "\f027";
}
i.-icon.-volume.-off:before {
  content: "\f026";
}
i.-icon.-volume.-up:before {
  content: "\f028";
}
i.-icon.-warning:before {
  content: "\f071";
}
i.-icon.-weibo:before {
  content: "\f18a";
}
i.-icon.-windows:before {
  content: "\f17a";
}
i.-icon.-won:before {
  content: "\f159";
}
i.-icon.-wrench:before {
  content: "\f0ad";
}
i.-icon.-xing.-sign:before {
  content: "\f169";
}
i.-icon.-xing:before {
  content: "\f168";
}
i.-icon.-yen:before {
  content: "\f157";
}
i.-icon.-youtube.-play:before {
  content: "\f16a";
}
i.-icon.-youtube.-sign:before {
  content: "\f166";
}
i.-icon.-youtube:before {
  content: "\f167";
}
i.-icon.-yuan:before {
  content: "\f158";
}
i.-icon.-zoom.-in:before {
  content: "\f00e";
}
i.-icon.-zoom.-out:before {
  content: "\f010";
}
/*--------------
    Aliases
---------------*/
i.-icon.-check:before {
  content: "\f00c";
}
i.-icon.-close:before {
  content: "\f00d";
}
i.-icon.-delete:before {
  content: "\f00d";
}
i.-icon.-like:before {
  content: "\f004";
}
i.-icon.-plus:before {
  content: "\f067";
}
i.-icon.-signup:before {
  content: "\f044";
}
/*--------------
   Spacing Fix
---------------*/
/* stars are usually consecutive */
/* i.-icon.-star {
  width: auto;
  margin: 0em;
}

left side icons
i.-icon.-left,
i.-icon.-left,
i.-icon.-left {
  width: auto;
  margin: 0em 0.5em 0em 0em;
}

right side icons
i.-icon.-search,
i.-icon.-up,
i.-icon.-down,
i.-icon.-right {
  width: auto;
  margin: 0em 0em 0em 0.5em;
} */
/*******************************
             Types
*******************************/
/*--------------
    Loading
---------------*/
i.-icon.-loading {
  -webkit-animation: icon-loading 2s linear infinite;
  -moz-animation: icon-loading 2s linear infinite;
  -ms-animation: icon-loading 2s linear infinite;
  -o-animation: icon-loading 2s linear infinite;
  animation: icon-loading 2s linear infinite;
}
@keyframes icon-loading {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes icon-loading {
  from {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes icon-loading {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes icon-loading {
  from {
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes icon-loading {
  from {
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/*******************************
             States
*******************************/
i.-icon.-hover {
  opacity: 1;
}
i.-icon.-active {
  opacity: 1;
}
i.-emphasized.-icon {
  opacity: 1;
}
i.-icon.-disabled {
  opacity: 0.3;
}
/*******************************
           Variations
*******************************/
/*-------------------
         Link
--------------------*/
i.-link.-icon {
  cursor: pointer;
  opacity: 0.7;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  -ms-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}
i.-link.-icon:hover {
  opacity: 1 !important;
}
/*-------------------
      Circular
--------------------*/
i.-circular.-icon {
  -webkit-border-radius: 500em !important;
  -moz-border-radius: 500em !important;
  border-radius: 500em !important;
  padding: 0.5em 0.35em !important;
  -webkit-box-shadow: 0em 0em 0em 0.1em rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0em 0em 0em 0.1em rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0em 0em 0em 0.1em rgba(0, 0, 0, 0.1) inset;
  line-height: 1 !important;
  width: 2em !important;
  height: 2em !important;
}
i.-circular.-inverted.-icon {
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/*-------------------
      Flipped
--------------------*/
i.-vertically.-flipped.-icon {
  -webkit-transform: scale(1, -1);
  -moz-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}
i.-horizontally.-flipped.-icon {
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
/*-------------------
      Rotated
--------------------*/
i.-rotated.-icon,
i.-right.-rotated.-icon,
i.-clockwise.-rotated.-icon {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
i.-left.-rotated.-icon,
i.-counterclockwise.-rotated.-icon {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
/*-------------------
        Square
--------------------*/
i.-square.-icon {
  width: 2em;
  height: 2em;
  padding: 0.5em 0.35em !important;
  -webkit-box-shadow: 0em 0em 0em 0.1em rgba(0, 0, 0, -1) inset;
  -moz-box-shadow: 0em 0em 0em 0.1em rgba(0, 0, 0, -1) inset;
  box-shadow: 0em 0em 0em 0.1em rgba(0, 0, 0, -1) inset;
  vertical-align: baseline;
}
i.-square.-icon:before {
  vertical-align: middle;
}
i.-square.-inverted.-icon {
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/*-------------------
      Inverted
--------------------*/
i.-inverted.-icon {
  background-color: #222222;
  color: #FFFFFF;
}
/*-------------------
       Colors
--------------------*/
i.-blue.-icon {
  color: #6ECFF5 !important;
}
i.-black.-icon {
  color: #5C6166 !important;
}
i.-green.-icon {
  color: #A1CF64 !important;
}
i.-red.-icon {
  color: #D95C5C !important;
}
i.-purple.-icon {
  color: #564F8A !important;
}
i.-teal.-icon {
  color: #00B5AD !important;
}
/*-------------------
   Inverted Colors
--------------------*/
i.-inverted.-black.-icon {
  background-color: #5C6166 !important;
  color: #FFFFFF !important;
}
i.-inverted.-blue.-icon {
  background-color: #6ECFF5 !important;
  color: #FFFFFF !important;
}
i.-inverted.-green.-icon {
  background-color: #A1CF64 !important;
  color: #FFFFFF !important;
}
i.-inverted.-red.-icon {
  background-color: #D95C5C !important;
  color: #FFFFFF !important;
}
i.-inverted.-purple.-icon {
  background-color: #564F8A !important;
  color: #FFFFFF !important;
}
i.-inverted.-teal.-icon {
  background-color: #00B5AD !important;
  color: #FFFFFF !important;
}
/*-------------------
        Sizes
--------------------*/
i.-small.-icon {
  font-size: 0.875em;
}
i.-icon {
  font-size: 1em;
}
i.-large.-icon {
  font-size: 1.5em;
  vertical-align: middle;
}
i.-big.-icon {
  font-size: 2em;
  vertical-align: middle;
}
i.-huge.-icon {
  font-size: 4em;
  vertical-align: middle;
}
i.-massive.-icon {
  font-size: 8em;
  vertical-align: middle;
}
.-menu {
  border: 1px solid #ccc;
  border-bottom: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  border-radius: 4px;
}
.-menu .-item {
  border-bottom: 1px solid #ccc;
}
.-menu .-item a {
  display: block;
  padding: 0.83em 0.95em;
}
.-menu .-item a:hover {
  background-color: #f3f3f3;
}
.-menu .-item.-active {
  background-color: #dedede;
}
.-menu .-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.-menu.-sub .-item:last-child {
  border: 0;
}
.-menu.-sub {
  border: 0 !important;
  margin-top: -1px;
  -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);
}
.-menu.-sub .-item {
  border: 0;
}
.-menu.-sub a {
  padding-left: 30px;
}
.-menu.-sub .-item:first-child {
  border-top: 0;
}
@-webkit-keyframes swing {
  20%,
  40%,
  60%,
  80%,
  100% {
    -webkit-transform-origin: top center;
  }
  20% {
    -webkit-transform: rotate(15deg);
  }
  40% {
    -webkit-transform: rotate(-10deg);
  }
  60% {
    -webkit-transform: rotate(5deg);
  }
  80% {
    -webkit-transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}
@-moz-keyframes swing {
  20% {
    -moz-transform: rotate(15deg);
  }
  40% {
    -moz-transform: rotate(-10deg);
  }
  60% {
    -moz-transform: rotate(5deg);
  }
  80% {
    -moz-transform: rotate(-5deg);
  }
  100% {
    -moz-transform: rotate(0deg);
  }
}
@-o-keyframes swing {
  20% {
    -o-transform: rotate(15deg);
  }
  40% {
    -o-transform: rotate(-10deg);
  }
  60% {
    -o-transform: rotate(5deg);
  }
  80% {
    -o-transform: rotate(-5deg);
  }
  100% {
    -o-transform: rotate(0deg);
  }
}
@keyframes swing {
  20% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(5deg);
  }
  80% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.-swing {
  display: inline-block;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-transform-origin: top center;
  -moz-transform-origin: top center;
  -o-transform-origin: top center;
  transform-origin: top center;
  -webkit-animation-name: swing;
  -moz-animation-name: swing;
  -o-animation-name: swing;
  animation-name: swing;
}
.-breadcrumb {
  margin: 1em 0em;
  display: inline-block;
  vertical-align: middle;
}
.-breadcrumb:first-child {
  margin-top: 0em;
}
.-breadcrumb:last-child {
  margin-bottom: 0em;
}
/*******************************
          Content
*******************************/
.-breadcrumb .-divider {
  display: inline-block;
  opacity: 0.5;
  margin: 0em 0.15em 0em;
  font-size: 1em;
  color: rgba(0, 0, 0, 0.3);
}
.-breadcrumb a.-section {
  cursor: pointer;
  color: #009FDA;
}
.-breadcrumb .-section {
  display: inline-block;
  margin: 0em;
  padding: 0em;
}
/* Loose Coupling */
.-breadcrumb.-segment {
  display: inline-block;
  padding: 0.5em 1em;
}
/*******************************
            States
*******************************/
.-breadcrumb .-active.-section {
  font-weight: bold;
}
/*******************************
           Variations
*******************************/
.-small.-breadcrumb {
  font-size: 0.75em;
}
.-large.-breadcrumb {
  font-size: 1.2em;
}
.-huge.-breadcrumb {
  font-size: 1.4em;
}
@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-moz-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-o-keyframes progress-bar-stripes {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 40px 0;
  }
}
@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
.-progress {
  overflow: hidden;
  height: 20px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.-bar {
  float: left;
  width: 0%;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: width 0.6s ease;
  transition: width 0.6s ease;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-size: 40px 40px;
  -webkit-animation: progress-bar-stripes 2s linear infinite;
  -moz-animation: progress-bar-stripes 2s linear infinite;
  -ms-animation: progress-bar-stripes 2s linear infinite;
  -o-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite;
}
.progress-bar-success {
  background-color: #5cb85c;
}
.progress-striped .progress-bar-success {
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-bar-info {
  background-color: #5bc0de;
}
.progress-striped .progress-bar-info {
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-bar-warning {
  background-color: #f0ad4e;
}
.progress-striped .progress-bar-warning {
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-bar-danger {
  background-color: #d9534f;
}
.progress-striped .progress-bar-danger {
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.-modal {
  position: fixed;
  top: 200px;
  left: 0;
  right: 0;
  z-index: 10000;
  width: 400px;
  margin: 0 auto;
  border: 5px solid #ccc;
  border-radius: 10px;
  background: #fff;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.-modal .-head {
  position: relative;
  padding: 10px;
  margin: 0 0 -1px;
  border-bottom: 1px solid #ddd;
  border-radius: 5px 5px 0 0;
  background: #fafafa;
  font-size: 18px;
  font-weight: bold;
}
.-modal .-head .-close {
  font-weight: bold;
  font-family: arial;
  font-size: 24px;
  color: #ccc;
  text-shadow: 0 1px #fff;
  cursor: pointer;
  position: absolute;
  top: 2px;
  right: 10px;
}
.-modal .-head .-close:hover {
  color: #666;
}
.-modal .-body {
  padding: 20px 10px;
}
.-modal .-foot {
  padding: 10px;
  background: #fafafa;
  border-top: 1px solid #ddd;
  border-radius: 0 0 5px 5px;
  text-align: right;
}
.-mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  background-color: #000;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.-tabs {
  width: 100%;
  border: 1px solid #DDD;
  padding: 20px;
}
.-tabs .-head {
  border-bottom: 1px solid #ddd;
  padding-left: 10px;
}
.-tabs .-head:before,
.-tabs .-head:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.-tabs .-head:after {
  clear: both;
}
.-tabs .-head .-tab {
  float: left;
  margin-bottom: -1px;
  display: block;
  border: 1px solid #ddd;
  border-radius: 4px 4px 0 0;
  margin-right: 5px;
  line-height: 45px;
  height: 45px;
  background: #fff;
  padding: 0 15px;
  cursor: pointer;
}
.-tabs .-head .-tab.-active {
  border-bottom: 0;
}
.-tabs .-pane {
  display: none;
  padding: 20px 0 10px 0;
}
.-tabs .-pane.-active {
  display: block;
}
