@CHARSET "UTF-8";
@font-face {
  font-family: 'Allerta';
  font-style: normal;
  font-weight: 400;
  src: local('Allerta Regular'), local('Allerta-Regular'), url(https://themes.googleusercontent.com/static/fonts/allerta/v4/URdUfE0ePw9inz9dceNoVA.woff) format('woff');
}

body {
	font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.wrapper {
	margin: 0 auto;
	width: 1000px;
}

.logo {
	font-size: 120px;
	text-align: center;
	margin: 80px 0;
	font-weight: 800;
}
.logo a{	
	color: #34495e;	
}
.logo small{
	color: rgba(52, 73, 94, 0.30000000000000004);
  display: block;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: -1px;
  padding-top: 5px;
}
.demo .-btn{
	margin-right: 10px;
}
.demo .-btn:last-child{
	margin-right: 0;
}
.-image{
	float: left;
	margin-right: 30px;
}

.row{
	margin: 30px 0;	
}
.row:after{
	content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.icon-list .-icon{
	font-size: 24px !important;
	line-height: 50px;
	width: 25px;
	display: inline-block;
}
.footer{
	background-color: #edeff1;
color: #666;
font-size: 24px;
padding: 30px;
	margin-top: 40px;
}
.footer small{
	font-size: 12px;
	display: block;
}